@font-face {
    font-family: pixelfont;
    src: url('./pixel_font/Pixeltype.ttf');
}
body{
    overflow-x: hidden;
}
.header{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 70px;
    background-color: #104f55;
    border-bottom: 5px solid #2e1f27;
}
.header-image-row-left{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.image1{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image2{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image3{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image4{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.header-text{
    text-align: center;
    width: 280px;
    height:fit-content;
    background-color: #f7ebe8;
    border: 5px solid #2e1f27;
    border-radius: 25%;
}
.my-name{
    font-family: pixelfont;
    font-size: xx-large;
    color: #59f8e8;
    -webkit-text-stroke-color: #104f55;
    -webkit-text-stroke-width: .5px;
}
.header-image-row-right{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.image5{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image6{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image7{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.image8{
    background-color: #f7ebe8;
    border: 2px solid #2e1f27;
    border-radius: 25%;
}
.about-me{
    position: absolute;
    left: 0px;
    top: 75px;
    height: calc(50% - 42.5px);
    width: calc(50% - 5px);
    background-color: #f7ebe8;
    border-bottom: 5px solid #2e1f27;
    border-right: 5px solid #2e1f27;
    border-bottom-right-radius: 20%;
}
.skills{
    position: absolute;
    right: 0px;
    top: 75px;
    height: calc(50% - 42.5px);
    width: calc(50% - 5px);
    background-color: #6883ba;
    border-left: 5px solid #104f55;
    border-bottom: 5px solid #104f55;
    border-bottom-left-radius: 20%;
}
.projects{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: calc(50% - 42.5px);
    width: calc(50% - 5px);
    background-color: #6883ba;
    border-top: 5px solid #104f55;
    border-right: 5px solid #104f55;
    border-top-right-radius: 20%;
}
.contact{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: calc(50% - 42.5px);
    width: calc(50% - 5px);
    background-color: #f7ebe8;
    border-top: 5px solid #2e1f27;
    border-left: 5px solid #2e1f27;
    border-top-left-radius: 20%;
}
.me{
    position: absolute;
    width: 14%;
    height: 26%;
    left: 50%;
    margin-left: -7%;
    top: calc(50% + 37.5px);
    margin-top: -7%;
    background-image: url('./images/me.jpg');
    background-size: 100% 100%;
    border-radius: 50%;
    border: 5px solid #2e1f27;
}
.about-title{
    position: absolute;
    left: 50%;
    margin-left: -68.75px;
    width: auto;
    height: 40px;
    font-family: pixelfont;
    font-size: 50px;
    color: #2e1f27;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.nor{
    position: absolute;
    left: 5%;
    top: 15%;
}
.ger{
    position: absolute;
    left: 10%;
    top: 30%;
}
.usa{
    position: absolute;
    left: 5%;
    top: 45%;
}
.flags{
    width: 20%;
    height: 100%;
}
.countries-lived{
    position: absolute;
    bottom: 1%;
    left: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 20%;
    background-color: #104f55;
    border: 2px solid #2e1f27;
}
.countries-text{
    width: 65%;
    height: 60%;
    font-family: pixelfont;
    font-size: large;
    color: #f7ebe8;
    text-align: center;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
@-webkit-keyframes triforce {  
    0% { background-color: #104f55; }
    50% { background-color: #59f8e8; }
    100% { background-color: #104f55; }
  }
.the-triforce{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 30px;
    top: 50%;
    margin-top: -150px;
    border: 5px solid #2e1f27;
    border-radius: 50%;
    background-color: #104f55;
    -webkit-animation-name: triforce;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}
.my-interests{
    position: absolute;
    left: 1%;
    top: 55px;
    width: 500px;
    height: 250px;
    background-color: #6883ba;
    border: 2px solid #2e1f27;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
}
.interests-container{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}
.interest-pics{
    left: 5%;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
}
.travel-box{
    width: 40px;
    height: 20px;
}
.gamer-box{
    width: 40px;
    height: 20px;
}
.artist-box{
    width: 40px;
    height: 20px;
}
.performance-box{
    width: 40px;
    height: 20px;
}
.interest-titles{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: pixelfont;
    font-size: x-large;
    color: #f7ebe8;
    text-align: center;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.travel-title{
    height: 20px;
}
.interest-text{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: pixelfont;
    font-size: medium;
    color: #f7ebe8;
    text-align: center;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.travel-text{
    height: 30px;
    overflow-y: scroll;
}
.travel-text::-webkit-scrollbar{
    background-color: #f7ebe8;
    width: 10px;
    border-radius: 50%;
}
.travel-text::-webkit-scrollbar-thumb{
    background-color: #59f8e8;
    border: 2px solid #2e1f27;
    border-radius: 50%;
}
.gamer-text{
    height: 30px;
    overflow-y: scroll;
}
.gamer-text::-webkit-scrollbar{
    background-color: #f7ebe8;
    width: 10px;
    border-radius: 50%;
}
.gamer-text::-webkit-scrollbar-thumb{
    background-color: #59f8e8;
    border: 2px solid #2e1f27;
    border-radius: 50%;
}
.artist-text{
    height: 30px;
    overflow-y: scroll;
}
.artist-text::-webkit-scrollbar{
    background-color: #f7ebe8;
    width: 10px;
    border-radius: 50%;
}
.artist-text::-webkit-scrollbar-thumb{
    background-color: #59f8e8;
    border: 2px solid #2e1f27;
    border-radius: 50%;
}
.performance-text{
    height: 30px;
    overflow-y: scroll;
}
.performance-text::-webkit-scrollbar{
    background-color: #f7ebe8;
    width: 10px;
    border-radius: 50%;
}
.performance-text::-webkit-scrollbar-thumb{
    background-color: #59f8e8;
    border: 2px solid #2e1f27;
    border-radius: 50%;
}
.skills-title{
    text-align: center;
    font-family: pixelfont;
    font-size: 50px;
    color: #f7ebe8;
    text-align: center;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.coding-box{
    position: absolute;
    top: 25px;
    left: 30px;
    width: 200px;
    height: 60%;
    background-color: #2e1f27;
    border: 5px solid #59f8e8;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}
.coding-gif-box{
    position: absolute;
    left: 45%;
    margin-left: -30px;
    top: 10px;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: #104f55;
    border: 5px solid #6883ba;
    border-radius: 15%;
}
.coding-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 50px;
    height: 80%;
    width: 100%;
    text-align: center;
    font-family: pixelfont;
    font-size: xx-large;
    color: #f7ebe8;
    text-align: center;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.soft-skills-box{
    position: absolute;
    left: 300px;
    width: 600px;
    height: 80%;
    background-color: #f7ebe8;
    border: 5px solid #104f55;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 15%;
}
.soft-skills-title{
    text-align: center;
    font-family: pixelfont;
    font-size: xx-large;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.soft-skills-communicator{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    background-color: #6883ba;
    border: 5px solid #2e1f27;
    border-radius: 10%;
    align-items: center;
}
.soft-skills-item-box{
    position: absolute;
    left: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
}
.communicator-title{
    text-align: center;
    font-family: pixelfont;
    font-size: large;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.communicator-text{
    text-align: center;
    font-family: pixelfont;
    font-size: small;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.soft-skills-quickstudy{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    background-color: #6883ba;
    border: 5px solid #2e1f27;
    border-radius: 10%;
    align-items: center;
}
.quick-title{
    text-align: center;
    font-family: pixelfont;
    font-size: large;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.quick-text{
    text-align: center;
    font-family: pixelfont;
    font-size: small;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.soft-skills-resourceful{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    background-color: #6883ba;
    border: 5px solid #2e1f27;
    border-radius: 10%;
    align-items: center;
}
.resource-title{
    text-align: center;
    font-family: pixelfont;
    font-size: large;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.resource-text{
    text-align: center;
    font-family: pixelfont;
    font-size: small;
    color: #104f55;
    text-align: center;
    -webkit-text-stroke-color: #2e1f27;
    -webkit-text-stroke-width: .5px;
}
.projects-title{
    text-align: center;
    font-family: pixelfont;
    text-align: center;
    font-size: 50px;
    color: #f7ebe8;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.projects-container{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #f7ebe8;
    border: 5px solid #104f55;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}
.projects-box{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
.project-thumbnails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.project-titles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: x-large;
    text-align: center;
    color: #f7ebe8;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.goober-title{
    background-color: #6883ba;
    border: 5px solid #2e1f27;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}
.pokedex-title{
    background-color: #6883ba;
    border: 5px solid #2e1f27;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
}
.goober-links{
    position: absolute;
    right: 110px;
    top: 110px;
    width: 110px;
    height: 25px;
}
.goober-github{
    width: 100%;
    height:100%;
}
@-webkit-keyframes links {  
    0% { background-color: #2e1f27; }
    50% { background-color: #6883ba; }
    100% { background-color: #2e1f27; }
  }
.goober-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #2e1f27;
    border: 5px solid #59f8e8;
    border-radius: 50%;
    -webkit-animation-name: links;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}
.pokedex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #2e1f27;
    border: 5px solid #59f8e8;
    border-radius: 50%;
    -webkit-animation-name: links;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}
.pokedex-links{
    position: absolute;
    right: 40px;
    bottom: -60px;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 150px;
    align-items: center;
}
.pokedex-github{
    width: 110px;
    height:25px;
}
.contact-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    background-color: #104f55;
    border: 5px solid #2e1f27;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    text-align: center;
    font-family: pixelfont;
    text-align: center;
    font-size: xx-large;
    color: #f7ebe8;
    -webkit-text-stroke-color: #59f8e8;
    -webkit-text-stroke-width: .5px;
}
.phone-pic{
    width: 50px;
    height: 50px;
}
.email-box,.phone-box,.linkedIn-box{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}